//Header
* {
  box-sizing: border-box;
}


.ba-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: #ffffff;
  font-family: "Gotham - Book", sans-serif;

  .conteiner {
    max-width: 1170px;
    margin: 50px auto;
    text-align: center;
  }

  .ba-header-wrapper{
    display: flex;
    justify-content: space-between;

    .ba-menu {
      list-style: none;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      flex-grow: 2;
      align-items: center;
      padding: 0 68px;

      &-item {
        padding: 0 10px;
      }

      &-item:first-child {
        padding-left: 20px;
      }

      &-item:last-child {
        padding-right: 0;
      }

      &__link {

          text-decoration: none;
          color: #ffffff;
        
        &:before {
          font-family: "FontAwesome";
          content: "";
          color: #ffffff;
          font-size: 11px;
          padding-right: 14px;
        }
        &:hover:before, &:focus:before {
          content: "";
          font-family: "FontAwesome";
          color: #ffffff;
        }
        &:hover, &:focus {
          opacity: 0.6;
        }

      }
    }

    .ba-nav-soc {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .soc__link {
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #ffffff;
        width: 41px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        margin-left: 16px;
      }

      .soc__link:hover, .soc__link:focus {
        opacity: 0.6;
      }

    }
  }

}

#header.default {
  width: 100%;
}
#header.fixed {
  position: fixed;
  background-color: #7e5cf9;
  .conteiner {
    margin: 5px auto;
  }
}

.ba-hero {
  background: url("../Img/Bg-header.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #ffffff;
  box-sizing: border-box;

  &-slider {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1170px;
    
    
    .ba-hero__slide {

      .slick-prev {
        top: 65px;
      }

      .ba-hero__title {
        margin: 50px auto 0;
        width: 950px;
        font-family: Gotham, sans-serif;
        font-size: 80px;
        font-weight: bold;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
      }
    
      .ba-hero__desc {
        font-family: "Gotham - Book", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5.4px;
        margin: 0;
        padding-top: 55px;
      }
      
    }
    
  }
  &__link {
    text-align: center;
    color: white;
    padding: 10px 14px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 65px;
    transition: bottom 0.3s;
  }
  &__link:hover, &__link:focus {
    opacity: 0.6;
    bottom: 50px;
  }
  
}

//SECTION

.ba-projects {
  text-align: center;
  color: #2c4058;
  overflow: hidden;

  &__title {
    text-align: center;
    margin: 0;
    font-family: Gotham, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding: 95px 0 108px;
    position: relative;
  }

  .ba-places {
    display: flex;
    position: relative;
    margin-bottom: 140px;
    padding-top: 70px;
    

    &__image {
      width: 630px;
      height: 470px;
      margin-right: 67px;
    }

    &__image-right {
      margin: 0 0 0 67px;
    }

    &__image img {
      width: 100%;
      height: 100%;
    }

    &__bg {
      width: 585px;
      height: 470px;
      background-color: #55b7ff;
      position: absolute;
      bottom: 70px;
      left: -222px;
      z-index: -1;
    }
    
    &__bg-right {
      background-color: #7e5aff;
      left: 800px;
    }

    &__info {
      max-width: 460px;
      text-align: left;
    }

    &__info-right {
      max-width: 500px;
    }

    &__desc {
      margin: 0;
      text-transform: uppercase;
      font-family: "Gotham - Book", sans-serif;
      font-size: 22px;
      font-weight: 400;
      padding: 53px 0 17px;
    }

    &__title {
      margin: 0;
      font-family: Gotham, sans-serif;
      font-size: 44px;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
    }

    &__text {
      margin: 0;
      color: #4b5562;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      padding: 38px 0 44px;
      letter-spacing: 0.5px;

    }

    &__text-italic {
      color: #2c4058;
      font-style: italic;
      padding-top: 66px;
      font-size: 16px;
    }
    

    &__btn {
      font-family: "Gotham - Book", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      border: 1px solid #2c4058;
      padding: 17px 40px;
      text-decoration: none;
      margin-left: 2px;
      color: #2c4058;
      

      &-blue:hover, &-blue:focus {
        color: #55b7ff;
        border-color: #55b7ff;
      }

      &-violet:hover, &-violet:focus {
        color: #7e5aff;
        border-color: #7e5aff;
      }

    }
  }
}


// SECTION2

.ba-news {
  background: url("../Img/Bg-news.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;

  &-wrapper {

    .ba-news__title {
      text-align: center;
      margin: 0;
      font-family: Gotham, sans-serif;
      font-size: 44px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      padding: 95px 0 108px;
      position: relative;
    }
  
    .ba-news__title:before {
      content: "";
      border-top: 1px solid #2c4058;
      width: 100px;
      height: 1px;
      position: absolute;
      bottom: 173px;
      transform: translateX(110%);
    }
  
    .ba-news__title-white {
      padding: 150px 0 97px;
    }
  
    .ba-news__title-white:before {
      border-color: #ffffff;
    }

  }

  &__slider {
    text-align: center;
    width: 1170px;
    padding-bottom: 209px;
    margin: 0 auto;
    background-color: cover;
  
    .ba-news-item {
      width: 370px;
      height: 514px;
      background-color: cover;
      color: #2c4058;
      padding-left: 30px;
      text-align: left;

      .ba-news__img {
        width: 100%;
        height: auto;
      }
    
      .ba-news__content {
        padding: 22px 20px 22px 14px;
        position: relative;
        height: 274px;
        background-color: #ffffff;
      }
    
      .ba-news__title {
        margin: 0;
        font-family: Gotham, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        text-transform: uppercase;
      }
    
      .ba-news__desc {
        margin: 0;
        color: #4b5562;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding: 20px 0;
      }
    
      .ba-news__author-block {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        bottom: 30px;
      }
    
      .ba-news__author-img {
        width: 60px;
        height: 60px;
      }
    
      .ba-news__author-text {
        font-family: "Gotham - Book", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        padding-left: 20px;
        margin: 0;
        display: flex;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .ba-news__author-date {
        display: block;
        color: #55b7ff;
        font-family: "Gotham - Book", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }
}

//SECTION3

.ba-gallery {
  padding-top: 10px;
  margin-bottom: 80px;
  &-wrapper {

    display: flex;
    flex-direction: column;

    .ba-gallery__title {
      @extend .ba-projects__title;
      font-weight: 400;
      color: #2c4058;
    }

    .ba-gallery__title:before {
      content: "";
      border-top: 1px solid #2c4058;
      width: 100px;
      height: 1px;
      position: absolute;
      bottom: 173px;
      transform: translateX(110%);
    }

    .ba-gallery__title-center:before {
      transform: translateX(55%);
    }

    .ba-gallery__images {
      display: grid;
      grid-template-columns: 50% 25% 25%;
      grid-template-rows: 50% 50%;
      grid-gap: 10px;
      grid-template-areas: "big-img small-img1 small-img2" "big-img small-img3 small-img4";
      padding-bottom: 85px;
      padding-right: 20px;
      height: 485px;
      width: 1170px;
    }

    .ba-gallery__img {
      width: 100%;
      height: 100%;
    }

    .ba-gallery__see-more {
      margin: 0 auto;
      font-family: "Gotham - Book", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      border: 1px solid #2c4058;
      padding: 17px 56px;
      text-decoration: none;
      color: #2c4058;
      background-color: #ffffff;
      outline: none;
    }
  

    .ba-gallery__see-more:hover, &__see-more:focus {
      color: #55b7ff;
      border-color: #55b7ff;
    }

    .big-img {
      grid-area: big-img;
    }
  
    .small-img1 {
      grid-area: small-img1;
    }
  
    .small-img2 {
      grid-area: small-img2;
    }
  
    .small-img3 {
      grid-area: small-img3;
    }
  
    .small-img4 {
      grid-area: small-img4;
    }
  }
  
}

.location {
  height: 700px;
  width: 100%;
}


.ba-footer {
  background: url("../Img/Bg-footer.jpg") center center no-repeat;
  background-size: cover;
  
  text-align: center;
  
  .ba-contact {
    max-width: 770px;
    background-color: #ffffff;
    position: relative;
    top: -250px;
    margin: auto;

    .ba-contact__title {
      @extend .ba-projects__title;
      padding: 90px 0 57px;
      font-weight: 400;
      color: #2c4058;
    }
    &__title:before {
      content: "";
      border-top: 1px solid #2c2623;
      width: 100px;
      height: 1px;
      position: absolute;
      bottom: 115px;
      transform: translateX(110%);
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      margin: 0 60px 90px;
      padding-bottom: 60px;
    
      .ba-contact__info {
        width: 300px;
        text-align: left;
        .ba-contact-ct {
          .ba-contact__desc {
            margin: 0;
            color: #4b5562;
            font-family: "Gotham - Book", sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            padding-bottom: 26px;

            i {
              color: #7e5aff;;
            }

          }
        }
      }

      .ba-form {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 315px;

        &__name {
          width: 313px;
          outline:none;
          color: #b1b5bb;
          font-family: "Gotham - Book", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          border: 0px;
          border-bottom: 1px solid #b1b5bb;
          padding-bottom: 10px;
          margin-bottom: 30px;
        }

        &__name:hover, &__name:focus {
          border: 0px;
          border-bottom: 1px solid #4b5562;
          color: #4b5562;
        }
        &__email {
          @extend .ba-form__name;
          margin-bottom: 37px;
        }

        &__btn {
          font-family: "Gotham - Book", sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          text-transform: uppercase;
          border: 1px solid #2c4058;
          padding: 17px 56px;
          text-decoration: none;
          color: #2c4058;
          background-color: #ffffff;
          outline: none;
        }
        &__btn:hover, &__btn:focus {
          color: #7e5aff;
          border-color: #7e5aff;
        }
      }

    }
  
  }

  
  .footer__box {
    position: relative;
    top: -250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 770px;
    margin: 0 auto;
  }
  .footer__copyright {
    text-align: left;
  }
  .footer__text {
    color: #ffffff;
    font-family: "Gotham - Book", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    display: block;
    text-decoration: none;
    letter-spacing: -0.4px;
    padding-top: 32px;
  }
  .footer__soc {
    display: flex;
    margin-top: 5px;
  }
  .footer__link {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 41px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-left: 16px;
  }
  .footer__link:hover, .footer__link:focus {
    opacity: 0.6;
  }

}


